@-moz-document domain("wikipedia.org") {
#p-logo,
#mw-panel > * > h3,
#p-lang li:not(.interwiki-en):not(.interwiki-de):not(.interwiki-ru):not(.interwiki-ja)[class*=interwiki],
#p-lang button,
#p-wikibase-otherprojects,
#p-lang .after-portlet,
#n-mainpage-description,
#n-topics,
#n-Artikel-verbessern,
#p-Mitmachen,
#p-tb,
#p-personal,
#coll-create_a_book,
#footer,
#p-navigation > * > * > *:not(#n-randompage),
#p-interaction,
#p-participation,
#mw-head > * > * > *:not(#searchform) > *:not(#ca-history){
    display: none !important;
}

#ca-history > *,
#p-cactions-label,
#p-namespaces,
#mw-panel .portal .body,
#mw-page-base,
#p-views {
    background: unset !important;
}

#mw-head {
    height: 0;
}

#searchform {
    display: block !important;
    position: fixed;
    top: -12px;
    right: 4px;
    z-index: 99999;
    width: 210px;
}

#simpleSearch {
    width: 187px !important;
}

#ca-history {
    z-index: 99999;
    background: unset !important;
    border: unset !important;
    position: fixed;
    top: -8px;
    right: 220px;
    height: 14px;
}

#mw-panel {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: white;
    border-bottom: 1px solid black;
}

#mw-panel * {
    float: left;
}
#mw-panel li:after {
    content: '\00a0';
}


#mw-panel #p-logo + .portal {
    margin-top: 0;
}

#left-navigation {
    margin-left: 0;
}

#right-navigation {
    margin-left: 1px;
    float: left;
}

#content {
    position: relative;
    top: -60px;
    max-width: 780px;
    left: 50% !important;
    margin-left: -405px;
    border-left: none;
}

.badge-goodarticle {
    list-style-image: unset !important;
}

@media only screen and (max-width: 830px) {
    #ca-history {
        top: 25px;
    }
    #content {
        top: -26px;
        left: 0 !important;
        margin: 0;
        margin-left: 0 !important;
        padding-left: 10px;
        
    }
    #searchform {
        top: 23px;
    }
    #mw-panel {
        height: 68px;
    }
}

}
